.vagrant/
config.h
*.pc
*.log
*.deb
*.swp
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Makefile
Testing/
_CPack_Packages/
cmake_install.cmake
install_manifest*.txt
libkqueue.so*
tags
test/CMakeCache.txt
test/CMakeFiles/
test/cmake_install.cmake
test/libkqueue-test
include/sys/libkqueue_version.h
