    body {
        background:	#DCDCDC;
        margin: 0;
    }
    div.content {
        background: white;
        margin: 0 3em;
        padding: 0 2em;
    }
    .blockquote { margin-right: 2em }
    code.block { 
         padding: 10px; 
         border: 1px solid black; 
         background: beige;
         margin: 2em; 
    }
    h1 {
        font-size: 3em;
        color: maroon;
        text-align: center;
    }
    h2 {
        margin-left: -1em;
        padding-top: 0.5em;
    }
    ol {
        margin: 2em;
    }
    li {
        padding-bottom: 10px;
    }
    p {
        padding-bottom: 10px;
    } 
